---
http_interactions:
- request:
    method: get
    uri: http://api.campaignmaster.co.uk/v1.1/CampaignMasterJobService.svc?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="CampaignMasterJobService"
        targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://campaignmaster.com.au"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"><wsp:Policy
        wsu:Id="BasicHttpBinding_ICampaignMasterJobService_policy"><wsp:ExactlyOne><wsp:All><wsoma:OptimizedMimeSerialization
        xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/><sp:TransportBinding
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
        RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></wsp:Policy><wsdl:import
        namespace="http://campaignmaster.com.au" location="http://api.campaignmaster.co.uk/v1.1/CampaignMasterJobService.svc?wsdl=wsdl0"/><wsdl:types/><wsdl:binding
        name="BasicHttpBinding_ICampaignMasterJobService" type="i0:ICampaignMasterJobService"><wsp:PolicyReference
        URI="#BasicHttpBinding_ICampaignMasterJobService_policy"/><soap:binding transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation
        name="Login"><soap:operation soapAction="http://campaignmaster.com.au/IAPIService/Login"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="GetServerTime"><soap:operation
        soapAction="http://campaignmaster.com.au/IAPIService/GetServerTime" style="document"/><wsdl:input><soap:body
        use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation><wsdl:operation
        name="SubmitImportJob"><soap:operation soapAction="http://campaignmaster.com.au/ICampaignMasterJobService/SubmitImportJob"
        style="document"/><wsdl:input name="SubmitJobRequest"><soap:header message="i0:SubmitJobRequest_Headers"
        part="JobDefinition" use="literal"/><soap:header message="i0:SubmitJobRequest_Headers"
        part="SecurityToken" use="literal"/><soap:body use="literal"/></wsdl:input><wsdl:output
        name="JobSubmissionResultMessage"><soap:body use="literal"/></wsdl:output></wsdl:operation><wsdl:operation
        name="GetJobResult"><soap:operation soapAction="http://campaignmaster.com.au/ICampaignMasterJobService/GetJobResult"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service
        name="CampaignMasterJobService"><wsdl:port name="BasicHttpBinding_ICampaignMasterJobService"
        binding="tns:BasicHttpBinding_ICampaignMasterJobService"><soap:address location="https://api.campaignmaster.co.uk/v1.1/CampaignMasterJobService.svc"/></wsdl:port></wsdl:service></wsdl:definitions>
  recorded_at: Mon, 22 Apr 2013 17:36:58 GMT
- request:
    method: post
    uri: https://api.campaignmaster.co.uk/v1.1/CampaignMasterJobService.svc
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><S:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="http://campaignmaster.com.au"
        xmlns:ns3="http://schemas.datacontract.org/2004/07/ECM.BLL.WebServices.Client.API.DataContracts"
        xmlns:ns4="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:ns5="http://schemas.datacontract.org/2004/07/ECM.Model"
        xmlns:ns1381="http://campaignmaster.com.au"><S:Body><Login xmlns="http://campaignmaster.com.au"><clientID>123</clientID><userName>test</userName><password>secret</password></Login></S:Body></S:Envelope>
    headers:
      Soapaction:
      - ! '"http://campaignmaster.com.au/IAPIService/Login"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Mime-Version:
      - '1.0'
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:fce5172b-0f2c-439c-8ab8-89822c5a80f8+id=1";start-info="text/xml"
    body:
      encoding: US-ASCII
      string: ! "\r\n--uuid:fce5172b-0f2c-439c-8ab8-89822c5a80f8+id=1\r\nContent-ID:
        <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:
        application/xop+xml;charset=utf-8;type=\"text/xml\"\r\n\r\n<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><LoginResponse
        xmlns=\"http://campaignmaster.com.au\"><LoginResult><TokenString>testtoken</TokenString><MinutesTillTokenExpires>480</MinutesTillTokenExpires></LoginResult></LoginResponse></s:Body></s:Envelope>\r\n--uuid:fce5172b-0f2c-439c-8ab8-89822c5a80f8+id=1--\r\n"
  recorded_at: Mon, 22 Apr 2013 17:36:58 GMT
[...]
- request:
    method: post
    uri: https://api.campaignmaster.co.uk/v1.1/CampaignMasterJobService.svc
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><S:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://tempuri.org/\"
        xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ns2=\"http://campaignmaster.com.au\"
        xmlns:ns3=\"http://schemas.datacontract.org/2004/07/ECM.BLL.WebServices.Client.API.DataContracts\"
        xmlns:ns4=\"http://schemas.microsoft.com/2003/10/Serialization/\" xmlns:ns5=\"http://schemas.datacontract.org/2004/07/ECM.Model\"
        xmlns:ns1381=\"http://campaignmaster.com.au\"><S:Header><ns2:SecurityToken><ns3:Value>testtoken</ns3:Value></ns2:SecurityToken><ns2:JobDefinition><ns3:Delimiter>test@example.org,Test
        Subscriber,1\r\ntest2@example.org,Test Subscriber 2</ns3:Delimiter><ns3:Filename>import.txt</ns3:Filename><ns3:InsertSettings><ns5:AllowImport>true</ns5:AllowImport><ns5:MakeActive>true</ns5:MakeActive><ns5:MakeVerified>true</ns5:MakeVerified></ns3:InsertSettings><ns3:PrimaryKey>EmailAddress</ns3:PrimaryKey><ns3:UpdateSettings><ns5:AllowImport>true</ns5:AllowImport><ns5:MakeActive>true</ns5:MakeActive><ns5:MakeVerified>true</ns5:MakeVerified></ns3:UpdateSettings><ns3:UseFirstDuplicate>1</ns3:UseFirstDuplicate></ns2:JobDefinition></S:Header><S:Body><SubmitJobRequest
        xmlns=\"http://campaignmaster.com.au\"><FileToImport>RW1haWxBZGRyZXNzLEZpcnN0X05hbWUsSXNBY3RpdmUNCg0KLA==\n</FileToImport></SubmitJobRequest></S:Body></S:Envelope>"
    headers:
      Soapaction:
      - ! '"http://campaignmaster.com.au/ICampaignMasterJobService/SubmitImportJob"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Mime-Version:
      - '1.0'
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:fce5172b-0f2c-439c-8ab8-89822c5a80f8+id=2";start-info="text/xml"
    body:
      encoding: US-ASCII
      string: ! "\r\n--uuid:fce5172b-0f2c-439c-8ab8-89822c5a80f8+id=2\r\nContent-ID:
        <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:
        application/xop+xml;charset=utf-8;type=\"text/xml\"\r\n\r\n<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><JobSubmissionResultMessage
        xmlns=\"http://campaignmaster.com.au\"><JobId>123456</JobId></JobSubmissionResultMessage></s:Body></s:Envelope>\r\n--uuid:fce5172b-0f2c-439c-8ab8-89822c5a80f8+id=2--\r\n"
  recorded_at: Mon, 22 Apr 2013 17:36:58 GMT
recorded_with: VCR 2.4.0
